form {
  background-color: rgb(206, 206, 30);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-items: center;
  text-align: center;
  width: 200px;
}
form div {
  display: flex;
  flex-direction: column;
}
input {
  border: 1px solid white;
  border-radius: 10px;
  padding: 6px;
}
form a {
  color: black;
}
